<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>qc_test</title>
    <meta name="description" content="Quality control test for websites.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/images/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
      .header {
        background:#006064;
        padding:1.5em 0;
        margin-bottom:2em;
        
      }
      
      .header .container {
        display:flex;
        align-items:center;
        
      }

      .created {
        margin:0;
        color:#fff;
      }

      .created a {
        color:inherit;
      }
      
      .logo-wrap {
        flex-grow:1;
      }

      .logo {
        color:#fff;
        font-size:2.3em;
        transition:all 0.3s ease-out;
        padding:0.3em;
        
      }
      
      .logo:hover {
        background-color:#fff;
        color:#006064;
        text-decoration:none;
      }

      input[type="url"] {
        margin-bottom:1em;
      }

      hr {
        border:1px dashed #006064;
      }

      .btn {
        background-color:#006064;
        color:#fff;
        font-size:1.2em;
      }
    </style>
  </head>
  <body>

    <div id="header" class="header">
      <div class="container">
        <div class="logo-wrap">
          <a href="/" class="logo">qc_test</a>
        </div>
        <div class="created-wrap">
          <p class="created">Created by <a href="http://zacharyminner.com" target="_blank">Zachary Minner</a>.</p>
        </div>
      </div>
    </div>
    <main>
      <div class="container">
        {{{body}}}
      </div>
    </main>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!--<script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-59393507-8');ga('send','pageview');
    </script>-->
  </body>
</html>