<h1>Quality Control Test for Websites</h1>
<p>Quality control a website:</p>
<hr>

<form action="/results" method="POST">
    <input type="url" name="domain" class="form-control" placeholder="http://www.trailerparkboys.com" required>
    <input type="submit" value="Go!" class="btn btn-default">
</form>