<form action="/process?form=the_test" method="POST">
    <input type="url" name="domain" class="form-control" placeholder="http://www.trailerparkboys.com">
    <input type="submit" value="Go!" class="btn btn-default">
</form>