<table class="table table-bordered">
  <caption>
    <h2>Domain: {{domain}}</h2>
    <p class="attention">Attention: If the Contents field is blank, the Element is missing.</p>
    <p class="attention">Attention: If the output of Google Analytics is not "/google_analytics_auto.js", check document manually.</p>
  </caption>
  <thead>
    <tr>
      <th>Element</th>
      <th>Contents</th>
      {{!-- <th>Pass?</th> --}}
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Title tag</th>
      <td>{{title}}</td>
      {{!-- <td>&#10003;</td> --}}
    </tr>
  </tbody>
</table>      
