<table class="table table-bordered">
  <caption>
    <h2>Domain: {{domain}}</h2>
  </caption>
  <thead>
    <tr>
      <th>Element</th>
      <th>Contents</th>
      {{!-- <th>Pass?</th> --}}
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Title tag</th>
      <td>{{title}}</td>
      {{!-- <td>&#10003;</td> --}}
    </tr>
  </tbody>
</table>      
