
<div id="description" class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1>Quality Control Test for Websites</h1>
      
    </div>
  </div><!-- /.col-lg-12 -->
</div><!-- /.row -->
<div id="input" class="row">
  <div class="col-md-6 col-md-offset-3">
    <p>Type a URL in the input field below and click "Go!".</p>
    <p class="text-success">Information: Must have "http://" in front of URL.</p>
    <form action="/process?form=the_test" method="POST">
      <div class="input-group">
      	<input type="hidden" name="_csrf" value="{{csrf}}">
        <input type="url" name="domain" class="form-control" placeholder="Quality control this...">
        <span class="input-group-btn">
          <input type="submit" value="Go!" class="btn btn-default">
        </span>
      </div><!-- /input-group -->
    </form>
  </div><!-- /.col-md-6 .col-md-offset-3 -->
</div><!-- /.row -->
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <figure>
      <img src="images/halloween.jpg" alt="halloween" class="img-responsive img-thumbnail" style="margin-top:30px;">
      <figcaption class="text-muted ">Happy Halloween!</figcaption>
    </figure>
  </div>
</div>