
<div id="description" class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1>Quality Control Check for:</h1>
      <h2 class="text-muted">{{domain}}</h2>
    </div>
  </div><!-- /.col-lg-12 -->
</div><!-- /.row -->
<div id="output" class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="test_output">
      <table class="table table-bordered">
        <caption>Check this information for quality.</caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Contents</th>
            <th>Pass?</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Title tag</th>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
            <td>&#10003;</td>
          </tr>
          <tr>
            <th>Meta Description</th>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ornare est nibh, sit amet consectetur libero mattis vel. Maecenas a pharetra massa, vel venenatis augue. Sed quam diam, tempor at sapien quis, vulputate molestie tellus. Sed vitae risus a risus mollis aliquam. </td>
            <td>&#10003;</td>
          </tr>
          <tr>
            <th>Meta Keywords</th>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ornare est nibh, sit amet consectetur libero mattis vel. Maecenas a pharetra massa, vel venenatis augue. Sed quam diam, tempor at sapien quis, vulputate molestie tellus. Sed vitae risus a risus mollis aliquam. </td>
            <td>&#10003;</td>
          </tr>
          <tr>
            <th>Favicon path</th>
            <td>/img/favicon.png</td>
            <td>&#10003;</td>
          </tr>
          <tr>
            <th>H1 tag(s)</th>
            <td>{{headTag}}</td>
            <td>&#10003;</td>
          </tr>
          <tr>
            <th>Image src tags</th>
            <td>/img/someImg.jpg</td>
            <td>&#10003;</td>
          </tr>
          <tr>
            <th>Image alt tags</th>
            <td>Lorem ipsum dolor</td>
            <td>&#10003;</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div><!-- /.col-md-6 .col-md-offset-3 -->
</div><!-- /.row -->

