<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>qc_test</title>
        <meta name="description" content="Quality control test for websites. The test checks for commonly missed HTML elements necessary for search engine optimization.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="/images/favicon.png">

        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <style>
      body{
        font-size:17px;
      }
      #header{
        background:#388E3C;
        
        padding:20px 0;
      }
      .navbar-brand{
        font-size:2.0em;
        color:#fff;
      }
      .navbar-brand:hover{
        color:#00C853;
        background:none;
      }
      a{
        color:#00C853;
        transition:all .3s ease-out;
      }
      a:hover{
        background:#00C853;
        color:#fff;
        text-decoration:none;
      }
      .btn{
        background:#00C853;
        color:#fff;
        transition:all .3s ease-out;
      }
      .btn:hover{
        background:#388E3C;
        color:#fff;
      }
      .information span,
      .tip span,
      .attention span{
        font-weight:bold;
      }
      .information{
        color:#006064;
      }
      .tip{
        color:#512DA8;
      }
      .attention{
        color:#D32F2F;
      }
    </style>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
       
        <div id="header" class="header">
          <div class="container">
            <a href="http://qctest.xyz" class="navbar-brand">qc_test</a>
            
          </div>
        </div>
        <main>
          <div class="container">
            {{{body}}}
          </div>
        </main>
        <div id="footer" class="footer">
          <div class="container">
            
          </div>  
        </div>
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-59393507-8');ga('send','pageview');
        </script>
    </body>
</html>